<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Zoo_Manager.Properties.Settings.ZooManagementConnectionString"
            connectionString="Data Source=LAPTOP-NS7MO2U1;Initial Catalog=ZooManagement;Persist Security Info=True;User ID=sa;Password=qwerty@12345;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>